*{
  margin:0;
  padding:0;
}

h1{
  font-weight:normal;
  text-decoration:none;
  color:#6E3E6F;
  float:left;
  margin:10px 20px;
  font-family: 'Satisfy', cursive;
}

header{
  position:fixed;
  display:block;
  margin-bottom:0;
  background:#fff;
  width:100%;
}

.menu_bar{
  display:none;
}

header nav ul{
  overflow:hidden;
  list-style:none;
}

header nav ul li {
  float:right;
}

header nav ul li a{
  font-family: 'Hind Siliguri', sans-serif;
  color:#6E3E6F;
  padding:20px;
  display:flex;
  flex-direction:column;
  text-decoration:none;

}

header nav ul li a:hover{
  padding-bottom:17px;
  background:#F4F4F4;
  color:#6E3E6F;
  border-bottom:#6E3E6F 3.5px solid;
}

input,label{
  display:none;
}

.main{
  background:#F4F4F4;
  padding:20px;
  padding-top:75px;
}
h2,h3,h4,h5{
  text-align:center;
  font-size:25px;
  margin:3px auto;
  font-family: 'Hind Siliguri', sans-serif;
  color:#6E3E6F;
  padding:20px;
  display:block;
  text-decoration:none;
}

.viaxe_almagro_img_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#F4F4F4;
  padding:5px;
  box-sizing:border-box;
}

.viaxe_almagro_img{
  height:100%;
  width:100%;
}

.viaxe_almagro_p{
  font-family: 'Hind Siliguri', sans-serif;
}

.viaxe_almagro_p_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
}

.obradoiro_img_w{
  margin:auto auto;
  display:block;
  width:30%;
  background:#F4F4F4;
  padding:5px;
  box-sizing:border-box;
}

.obradoiro_img{
  height:100%;
  width:100%;
}

.obradoiro_p_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
}

.obradoiro_p{
  font-family: 'Hind Siliguri', sans-serif;
}

.viaxe_fraguas_do_eume_img_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#F4F4F4;
  padding:5px;
  box-sizing:border-box;
}

.viaxe_fraguas_do_eume_img{
  display:inline;
  width:49.25%;
}

.viaxe_fraguas_do_eume_img2{
  float:right;
  display:inline;
  width:49.25%;
}

.viaxe_fraguas_do_eume_p_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
}

.viaxe_fraguas_do_eume_p{
  font-family: 'Hind Siliguri', sans-serif;
}

.obradoiro2_img_w{
  margin:auto auto;
  display:block;
  width:30%;
  background:#F4F4F4;
  padding:5px;
  box-sizing:border-box;
}

.obradoiro2_img{
  width:100%;
}

.obradoiro2_p_w{
  margin:auto auto;
  display:block;
  width:65%;
  background:#fff;
  padding:20px;
  box-sizing:border-box;
}

.obradoiro2_p{
  font-family: 'Hind Siliguri', sans-serif;
}

footer{
  box-sizing:border-box;
  padding:10px;
  width:100%;
  background:#4B4B4B;
  float:none;
}

.mailto a{
  font-size:13px;
  font-family: 'Hind Siliguri', sans-serif;
  display:block;
  color:#fff;
}

.datos_de_contacto{
  font-size:13px;
  font-family: 'Hind Siliguri', sans-serif;
  margin-left:10px;
  margin-right:10px;
  display:block;
  color:#fff;
  padding:10px;
}

.youtube a, .instagram a, .facebook a{
  color:#fff;
  text-decoration:none;
  font-size:30px;
}

.redes_sociales{
  margin-top:17px;
  font-size:20px;
  margin-right:25px;
  float:right;
}

@media screen and (max-width:825px){

  header nav ul li a:hover{
    box-sizing:border-box;
    border-bottom:none;
    border-right:#6E3E6F 3px solid;
  }

.viaxe_almagro_img_w,.viaxe_almagro_p_w,.obradoiro_p_w,.viaxe_fraguas_do_eume_img_w,.viaxe_fraguas_do_eume_p_w,.obradoiro2_p_w{
  width:95%;
}

.obradoiro_img_w,.obradoiro2_img_w{
  width:55%;
}

.redes_sociales{
    margin-right:10px;
  }

  #btn_mn{
    display:none;
  }

  h1{
    display:block;
  }

  header label{
    cursor:pointer;
    display:block;
    float:right;
    font-size:30px;
    padding:15px;
    color:#6E3E6F;
  }

  header ul li a :hover{
    border-bottom:0;
    border-bottom:#F4F4F4 3px solid;
  }

  nav{
    background:#F4F4F4;
    display:block;
    width:100%;
    top:67px;
    margin:0;
    position:fixed;
    transform: translateX(-100%);
    transition:all 0.3s;
  }

  #btn_mn:checked ~ nav {
    transform: translateX(0%);
  }


  header nav ul li {
    display:block;
    float:none;
  }

}
